@import "tailwindcss";

/* Hide scrollbar by default */
.custom-scrolltask::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.custom-scrolltask:hover::-webkit-scrollbar,
.custom-scrolltask:focus::-webkit-scrollbar {
  width: 3.5px;
  height: 1px;
}

.custom-scrolltask::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 99px;
}
.custom-scrolltask::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll {
  overflow-x: auto;   
  overflow-y: hidden;  
}

/* Horizontal scrollbar styling for WebKit-based browsers */
.custom-scroll::-webkit-scrollbar {
  height: 3px;            
  width: 0px !important;  
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #9ca3af; 
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll:hover::-webkit-scrollbar {
  height: 6px;        
  width: 0px !important; 
}

                   
